@font-face {
    font-family: customfont;
    src: url(../Assets/fonts/Bungee-Regular.ttf);
}

body {
	background-color: #000;
}

canvas {
    border: 1px solid black;
    border-radius: 10px;
    /*text-align: center;*/
    /*background-color: white;*/
}

